body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    background-color: rgb(241,203,48);
}

.product_title {
    color: white;
}

#products {
    background-color: rgb(35,35,35);;
    padding: 10px;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 10px;
}

.product {
    width: 350px;
    height: 500px;
    text-align: center;
    background-color: rgb(241,203,48);
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    margin: 3px;
}

.product:hover {
    transform: scale(1.005);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product_img {
    padding: 5px;
    max-width: 300px;
    max-height: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    border-radius: 10px;
}

button {
    background-color:  rgba(0, 0, 0, 0.1);    
}


.product_data {
    text-align: center;
    margin: 5px;
    padding: 12px;
    width: 200px;
    height: 200px;
}

#search_keyword {
    background-color: rgba(35,35,35, 0.9);
    color: rgba(251,251,251, 0.7);
    padding: 10px;
    border: 2px solid rgb(35,35,35);
    margin-right: 10px;
    width: 200px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

#categoryFilters {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    text-align: center;
    padding: 3px;
    height: 15px;
}

#productdetails {
    background-color: black;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color:rgb(241,203,48);
    color: rgb(35,35,35);
    border: 2px solid rgb(35,35,35);
}

button:hover {
    background-color: rgb(35,35,35);
    color: rgb(241,203,48); 
}